{% load i18n %}

{% block navmenulist %}

{% for item in WAFER_MENUS.items %}
{% if item.image and item.url %}
<a class="nav-item">one</a>

{% elif item.url %}

<a class="nav-item" href="{{ item.url }}">
  {{ item.label }}
</a>

{% else %}


<c-nav-dropdown label="{{item.label}}" :items="item.items">
</c-nav-dropdown>

{% endif %}
{% endfor %}

{% endblock navmenulist %}


{% block navauthmenu %}

{% if user.is_authenticated %}
{% block navauthenticated %}

<c-nav-dropdown label="{{ user.username }}">
  <a class="nav-item" href="{% url 'wafer_user_profile' username=user.username %}">
    {% blocktrans trimmed with name=user.userprofile.display_name %}
    {{ name }}'s profile
    {% endblocktrans %}
  </a>

  {% if user.is_staff %}
  <a class="nav-item" href="{% url 'admin:index' %}">
    {% trans 'Site admin' %}
  </a>
  {% endif %}

  <form method="POST" action="{% url 'auth_logout' %}">
    {% csrf_token %}

    <button type="submit" class="nav-item">{% trans 'Log out' %}</button>
  </form>

</c-nav-dropdown>

{% endblock navauthenticated %}

{% elif not WAFER_HIDE_LOGIN %}
{% block navnotauth %}
<a class="nav-item" href="{% url 'auth_login' %}">
  {% trans 'Sign up / Log In' %}
</a>
{% endblock navnotauth %}
{% endif %}


{% endblock navauthmenu %}