{% extends 'wafer.sponsors/packages.html' %}
{% block pre_package_list %}
<div class="sponsor-package-contact">
   <p>If you are interested in any of these packages, please contact <a href="mailto:sponsorship@za.pycon.org">sponsorship@za.pycon.org</a>.</p>
</div>
{% endblock %}
{% block post_package_list %}
<div class="sponsor-package-contact">
   <p>If you haven't found a package that suits you, feel free to suggest one by contacting <a href="mailto:sponsorship@za.pycon.org">sponsorship@za.pycon.org</a>.</p>
</div>
{% endblock %}

