{% extends '_base.html' %}
{% load static %}

{% block header %}
{% endblock %}


{% block main %}

<section
    class="h-screen bg-no-repeat bg-[url(https://res.cloudinary.com/pycon-africa/image/upload/v1707128927/Asset_22yua0_gpgcif.png)] bg-cover bg-center">
    <div class="bg-radial from-transparent to-black h-full">

        <header class="bg-black">
            {% include "partial_header.html" %}
        </header>

        <div class="mx-auto w-fit text-white ">

            <div class="flex flex-col gap-y-5 text-center pt-64">

                <h1 class="text-yellow-500 text-6xl pb-8 font-bold">{{ conference_name }}</h1>
                <p class="text-4xl">PyCon Africa and PyConZA are joining forces!</p>

                <ul class="text-2xl">
                    <li>
                        <strong>Where:</strong> Johannesburg, South Africa
                    </li>
                    <li>
                        <strong>When:</strong> Late September / Early October
                    </li>
                </ul>

                <p class="text-xl">More details will be shared as they become available</p>
            </div>

        </div>

    </div>
</section>


<section class="max-w-7xl mx-auto space-y-20 mt-20 text-center">
    <p>
        Join us in the vibrant city of Johannesburg, South Africa, where we
        congregate with hundreds of developers, researchers, students and other professionals across Africa and beyond
        to
        give
        talks, host workshops, tutorials, sprints, and together share our passion for community!
    </p>


    <div class="flex flex-row  justify-between px-20">
        <c-card image_path="img/home/jhb.jpg" subtitle="Johannesburg">
            A major African technology and business hub.
        </c-card>

        <c-card image_path="img/home/group.jpg" subtitle="Hundreds of programmers">
            From around Africa and the world
        </c-card>

        <c-card image_path="img/home/sprint.jpg" subtitle="Five days">
            of talks, workshops and collaboration
        </c-card>
    </div>

    <h2>Our Programme</h2>

    <div class="flex flex-row  justify-between px-20">
        <c-card image_path="img/home/tutorials.jpg" title="Tutorials and Workshops">
            Hands-on workshops and tutorials to develop skills, led by experts in the field.
        </c-card>

        <c-card image_path="img/home/speakers.jpg" title="Main Conference Days">
            A full programme of talks from amazing speakers across the continent and beyond
        </c-card>

        <c-card image_path="img/home/sprints.jpg" title="Sprints">
            Collaboration on new and established open-source Python projects.
        </c-card>
    </div>

</section>
{% endblock %}