{% extends 'base.html' %}

{% block content %}

<section class="bg-black h-screen text-white  flex">

    <div class="m-auto space-y-3 text-center">

        <h1 class="text-yellow-500 text-6xl pb-8 font-bold">{{ conference_name }}</h1>


        <p class="">The PyCon Africa team is in the process of finalising the details of this year's conference.
            Here is what we can tell you so far:</p>

        <p>PyCon Africa and PyConZA are joining forces!</p>

        <ul>
            <li>
                <strong>Where:</strong> Johannesburg, South Africa
            </li>
            <li>
                <strong>When:</strong> Late September / Early October
            </li>
        </ul>

        <p>More details will be shared as they become available</p>
    </div>

</section>
{% endblock content %}