@import "tailwindcss";


@theme {
    /* --color-primary: @apply orange-500; */
    /* --color-yellow */

}


@layer base {
    :root {
        /* --font-exo-2: "Exo 2", sans-serif; */
        --font-open-sans: "Open Sans",
            Helvetica,
            Arial,
            sans-serif;

        --font-family-kanchenjunga: 'Kanchenjunga',
            sans-serif;

        --color-pycon-yellow: #FFD700;
        --color-pycon-green: #4CAF50;
        --color-pycon-blue: #2196F3;
        --color-pycon-red: #F44336;
        --color-pycon-light-blue: #90CAF9;
    }

    a,
    li,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        /* font-family: var(--font-open-sans); */
        font-family: var(--font-family-kanchenjunga);
    }

    h1 {
        @apply font-bold text-5xl;
    }

    h2 {
        @apply font-bold text-4xl;
    }

    h3 {
        @apply font-bold text-3xl;
    }

    a {
        @apply cursor-pointer underline;
    }

    button {
        @apply cursor-pointer
    }

    p {
        @apply text-lg
    }

    ul {
        @apply list-disc list-inside ml-6 space-y-2
    }

    ol {
        @apply list-decimal list-inside space-y-2
    }

    form {
        @apply space-y-3
    }

    table {
        @apply min-w-full border border-gray-300 text-left text-sm;
    }

    thead {
        @apply bg-gray-100 border-b;
    }

    th {
        @apply px-4 py-2 text-gray-700 font-bold;
    }

    tbody {
        @apply divide-y divide-gray-200;
    }

    tr {
        @apply hover:bg-gray-50;
    }

    td {
        @apply px-4 py-2;
    }
}

@layer components {
    .nav-item {
        @apply font-semibold text-gray-200 hover:text-white uppercase no-underline
    }

    .btn {
        @apply w-fit px-8 py-3 bg-yellow-600 no-underline rounded-xl text-white font-bold cursor-pointer hover:bg-yellow-500 text-center items-center
    }


    .btn-success {
        @apply bg-green-700 hover:bg-green-600
    }

    .btn-secondary {
        @apply bg-orange-700 hover:bg-orange-600;
    }

    input[type="submit"] {
        @apply mt-3;
    }

    .alert {
        @apply border rounded-2xl p-3;
    }

    .alert-primary {
        @apply border-yellow-700 bg-yellow-50
    }

    .alert-danger {
        @apply border-orange-700 bg-orange-50
    }

    .card {
        @apply p-3
    }
}

@layer utilities {
    .text-pycon-yellow {
        color: var(--color-pycon-yellow);
    }

    .text-pycon-green {
        color: var(--color-pycon-green);
    }

    .text-pycon-blue {
        color: var(--color-pycon-blue);
    }

    .text-pycon-red {
        color: var(--color-pycon-red);
    }

    .text-pycon-light-blue {
        color: var(--color-pycon-light-blue);
    }

    .bg-translucent {
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(4px);
    }

    .list-custom {
        list-style-type: none;
        margin-left: 0;
    }

    .text-outline-white {
        text-shadow:
            -1px -1px 0 #fff,
            1px -1px 0 #fff,
            -1px 1px 0 #fff,
            1px 1px 0 #fff;
    }
}