{% load sponsors %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{{ conference_name }}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.css' %}" rel="stylesheet">

    <link href="{% static 'vendor/main.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Kanchenjunga:wght@400;500;600;700&family=Open+Sans:400,300,500,600,700,800">

    <script src="//unpkg.com/alpinejs" defer></script>

    {% block extra_head %}

    {% endblock%}
</head>

<body class="">


    {% block header %}
    <header class="bg-gray-700">
        {% include "partial_header.html" %}
    </header>
    {% endblock %}



    <main id="main">
        {% block main %}
        <div class="lg:max-w-7xl mx-auto px-3">
            <h1 class="text-center pt-10 pb-14">{% block page_title %} {% endblock %}</h1>
            {% block content %}
            Override this in child templates
            {% endblock %}
        </div>
        {% endblock %}
    </main>

    <footer class="border-t-2 border-gray-200 mx-5 py-5 mt-10 text-gray-500 ">
        <div class="lg:flex lg:items-center max-w-7xl mx-auto lg:justify-between space-y-3 text-center ">

            <p class="text-sm lg:text-base">
                &copy; 2025 Python Software Society of South Africa and PyCon Africa
            </p>

            <nav class="text-3xl space-x-1 ">

                {% for link in social_links %}
                <a href="{{link.url}}" target="_blank" class="no-underline hover:text-gray-800">
                    <i class="{{link.icon}}"></i>
                </a>
                {% endfor %}
            </nav>
        </div>

    </footer>


    {% comment %}

    <div
        class="appearance-none w-full leading-normal border-gray-300 border block bg-white px-4 focus:outline-none text-gray-700 py-2 rounded-lg">
        these classes are used by crispy forms. They need to be explicitly included in our html so that the tailwind
        build will pick them up and draw them
    </div>
    {% endcomment %}

</body>
</html>
