{% load sponsors %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{{ conference_name }}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'vendor/@fortawesome/fontawesome-free/css/fontawesome.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/@fortawesome/fontawesome-free/css/solid.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/main.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,500,600,700,800">

</head>

<body>
    <!-- {% include "wafer/nav.html" %} -->

    {% block header %}
    <header class="bg-gray-700">
        {% include "partial_header.html" %}
    </header>
    {% endblock %}

    <main id="main">
        {% block main %}
        <div class="max-w-7xl mx-auto">
            <h1 class="text-center py-5">{% block page_title %}Page title block {% endblock %}</h1>
            {% block content %}
            Override this in child templates
            {% endblock %}
        </div>
        {% endblock %}
    </main>

    <footer class="border-t-2 border-gray-200 mx-5 mt-5 pt-3">

        &copy; 2025 Python Software Society of South Africa.
    </footer>

</body>

</html>